@model IEnumerable<Store.Models.master>

@{
    ViewData["Title"] = "Index";
}

<h1>Teetindajad tabel</h1>

<p>
    <a asp-action="Create">Reegistreerida</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nimi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Perenimi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.telefon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.epost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.keelid)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nimi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Perenimi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.epost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.keelid.nimetus)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">muuda</a> |
                <a asp-action="Details" asp-route-id="@item.Id">detaalid</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">kustuta</a>
            </td>
        </tr>
}
    </tbody>
</table>
