@model Store.Models.loom

@{
    ViewData["Title"] = "Kustutada";
}

<h1>Kustutada</h1>

<h3>Kas olete kindel, et soovite selle kustutada?</h3>
<div>
    <h4>loom</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nimi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nimi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.sugu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sugu.nimetus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tervis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tervis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.suurus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.suurus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.viilatüüp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.viilatüüp.nimetus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.iseloomu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.iseloomu.nimetus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tuup)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tuup.nimetus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.vanus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.vanus)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Kustuta" class="btn btn-danger" /> |
        <a asp-action="Index">Pärast nimekirja</a>
    </form>
</div>
