@model IEnumerable<Store.Models.loom>

@{
    ViewData["Title"] = "Loomad";
}

<h1>Loomad tabel</h1>

<p>
    <a asp-action="Create">Loo Uus</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nimi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sugu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tervis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.suursus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.viilatüüp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.iseloomu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tuup)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.vanus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nimi)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.sugu.nimetus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tervis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.suursus)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.viilatüüp.nimetus)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.iseloomu.nimetus)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.tuup.nimetus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.vanus)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Muuda</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Kustutada</a>
            </td>
        </tr>
}
    </tbody>
</table>
