@model Store.Models.bron

@{
    ViewData["Title"] = "Detaalid";
}

<h1>Detaalid</h1>

<div>
    <h4>bron</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.klient)
        </dt>
        <dd class = "col-sm-10">
            @ViewBag.klient
        </dd>
        <dt class="col-sm-2"></dt>
        <dd class="col-sm-10"><a href="">@ViewBag.epost</a></dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.loomad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.loomad.Id)
        </dd>
            
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.master)
        </dt>

        <dd class="col-sm-10">@ViewBag.master</dd>
        <dt class="col-sm-2">
        <dd class="col-sm-10">
                @Html.DisplayFor(model => model.master.epost)
        </dd>
        </dt>
        
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.aeg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.aeg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.teenused)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.teenused.nimetus)
        </dd>
    </dl>
</div>
<table class="table">
    <tr>
        <th>nimi</th>
        <th>sugu</th>
        <th>tüüp</th>
        <th>iseloomu</th>
        <th>suurus</th>
        <th>tervis</th>
        <th>vanus</th>
        <th>viilatuup</th>
    </tr>
    <tr><td>@ViewBag.Nimi</td><td>@ViewBag.sugu</td><td>@ViewBag.tuup</td><td>@ViewBag.iseloomu</td><td>@ViewBag.suurus</td><td>@ViewBag.tervis</td><td>@ViewBag.vanus</td><td>@ViewBag.viilatuup</td></tr>
</table>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Muuda</a> |
    <a asp-action="Index">tagasi</a>
</div>
