@model Store.Models.bron

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>bron</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.klient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.klient.Nimi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.loomad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.loomad.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.master)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.master.epost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.aeg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.aeg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.teenused)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.teenused.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
