@model IEnumerable<Store.Models.bron>

@{
    ViewData["Title"] = "Index";
}

<h1>Sinu bron</h1>
<p>
    <a asp-action="Create">Broneerida aeg</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.klient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.loomad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.master)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.aeg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.teenused)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.klient.Nimi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.loomad.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.master.epost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.aeg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.teenused.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Muuda</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detaalid</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Kustuta</a>
            </td>
        </tr>
}
    </tbody>
</table>
