@model Store.Models.bron
@{
    ViewData["Title"] = "service";
}
<h1>@Html.DisplayNameFor(model => model.teenused)</h1>
<p>@Html.DisplayFor(model => model.teenused.nimetus)</p>
<h2>teenindaja</h2>
<p>@Html.DisplayFor(model => model.master.Nimi) @Html.DisplayFor(model => model.master.Perenimi) - @Html.DisplayFor(model => model.master.epost)</p>
<h2>loom</h2>
 <table>
        <tr>
            <td>
                <div class="gallery">
                <a target="_blank" href="~/css/img/@ViewBag.image">
                   <img src="~/css/img/@ViewBag.image" />
                </a>
                </div>
            </td>
        <td>
            <div class="gallery">
                <a target="_blank" href="~/css/img/@ViewBag.image2">
                    <img src="~/css/img/@ViewBag.image2" />
                </a>
            </div>
        </td>
        <td>
            <div class="gallery">
                <a target="_blank" href="~/css/img/@ViewBag.image">
                    <img src="~/css/img/@ViewBag.image" />
                </a>
            </div>
        </td>
        </tr>
 </table>
<p>@Html.DisplayFor(model => model.loomad.Nimi)</p>
<h2>ViewBag.Result</h2>
<img src="~/css/img/@ViewBag.image"/>
<p>Total hind: ViewBag.Hind</p>
