@model IEnumerable<Store.Models.klient>

@{
    ViewData["Title"] = "klientid tabel";
}

<h1>klientid</h1>

<p>
    <a asp-action="Create">Loo uus</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nimi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Perenimi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.telefon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.epost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.aeg)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nimi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Perenimi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.epost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.aeg)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Muuda</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Detaalid</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Kustuta</a>
            </td>
        </tr>
}
    </tbody>
</table>
